{{ doctype()|raw }}

<html lang="en">
<head>
    <meta charset="utf-8">
    {{ headTitle('ZF Skeleton Application').setSeparator(' - ').setAutoEscape(false)|raw }}

    {{ headMeta()
    .appendName('viewport', 'width=device-width, initial-scale=1.0')
    .appendHttpEquiv('X-UA-Compatible', 'IE=edge')|raw
    }}

    <!-- Le styles -->
    {{ headLink({
    'rel' : 'shortcut icon',
    'type' : 'image/vnd.microsoft.icon',
    'href' : basePath() ~ '/img/favicon.ico'
    })
    .prependStylesheet(basePath('css/style.css'))
    .prependStylesheet(basePath('css/bootstrap-theme.min.css'))
    .prependStylesheet(basePath('css/bootstrap.min.css'))|raw
    }}

    <!-- Scripts -->
    {{ headScript()
    .prependFile(basePath('js/bootstrap.min.js'))
    .prependFile(basePath('js/jquery-2.2.4.min.js'))|raw
    }}
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('home') }}">
                <img src="{{ basePath('img/zf-logo.png') }}"
                     alt="Zend Framework {{ constant('Application\\Module::VERSION') }}"/>&nbsp;Skeleton Application
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% set partial = ['navigation/navigation.twig','default'] %}
                {% do navigation('navigation').menu().setPartial(partial) %}
                {{ navigation('navigation').menu()|raw }}
            </ul>
            {% if identity() %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{  identity().getUsername() }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url('logout') }}">Sair</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
    <hr>
    <footer>
        <p>&copy; 2005 - {{ 'now'|date('Y') }} by Zend Technologies Ltd. All rights reserved.</p>
    </footer>
</div>
{{ inlineScript()|raw }}
</body>
</html>
